*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  

}
body{
    width: 98vw;
    height: 98vh;
    overflow-y: hidden;
    background: radial-gradient(circle, rgba(238,202,174,1) 0%, rgba(236,203,176,1) 25%, rgba(175,230,237,1) 90%, rgba(177,230,235,1) 93%, rgba(176,230,236,1) 95%, rgba(174,231,238,1) 100%);
}
#img{
    margin-top: 9%;
    height: 60%;
    width: 40%;
    margin-left: 30%;
}
.lung{
    padding: 5%;
    position: absolute;
    top: 52%;
    left: 43%;
    width: 109px;
    height: 177px;
    border-radius: 50%;
    rotate: 10deg;
}
.lung .txt{
    top: -150%;
    position: relative;
    left: -111500%;
    opacity: 0;
    rotate: -10deg;
    width: 300px;
    height: 380px;
    text-align: center;
    background-color: #c4e8f5;
    border-radius: 14.999px;
}
.lung:hover .txt{
    opacity: 1;
    left: -500%;
}
.lung .txt h1{
    background-color: white;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;

    border-radius: 15px;
    margin-top: -1%;
}

.lung2{
    position: absolute;
    top: 52%;
    left: 50.5%;
    width: 109px;
    height: 177px;
    border-radius: 50%;
    rotate: -30deg;
}
.lung2 .txt{
    top: -350%;
    position: relative;
    left: -11500%;
    opacity: 0;
    rotate: 30deg;
    width: 380px;
    height: 320px;
    text-align: center;

    border-radius: 15px;
    background-color: #c4e8f5;
 

}
.lung2:hover .txt{
    opacity: 1;
    left: -500%;
}   
.lung2 .txt h1{
    background-color: white;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    margin-top: -1%;

    border-radius: 15px;
}


.nose{
    position: absolute;
    top: 35%;
    left: 41.7%;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    rotate: 130deg;
}

.nose .txt{
    top: 150%;
    position: relative;
    left: 11500%;
    opacity: 0;
    rotate: -130deg;
    width: 300px;
    height: 280px;
    text-align: center;
    background-color: #c4e8f5;
    border-radius: 15px;


}
.nose:hover .txt{
    opacity: 1;
    left: 150%;
}   
.nose .txt h1{
    background-color: white;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;

    border-radius: 15px;
}


.epiglottis{
    position: absolute;
    top: 41%;
    left: 47.5%;
    width: 35px;
    height: 15px;
    border-radius: 50%;
    rotate: 130deg;
}

.epiglottis .txt{
    top: 150%;
    position: relative;
    left: 11500%;
    opacity: 0;
    rotate: -130deg;
    width: 300px;
    height: 280px;
    text-align: center;
    background-color: #c4e8f5;
    border-radius: 15px;


}
.epiglottis:hover .txt{
    opacity: 1;
    left: 150%;
}   
.epiglottis .txt h1{
    background-color: white;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;

    border-radius: 15px;
}


.larynx{
    position: absolute;
    top: 43%;
    left: 48%;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    rotate: -30deg;
}

.larynx .txt{
    top: 150%;
    position: relative;
    left: -11500%;
    opacity: 0;
    rotate: 30deg;
    width: 300px;
    height: 180px;
    text-align: center;
    background-color: #c4e8f5;
    border-radius: 15px;


}
.larynx:hover .txt{
    opacity: 1;
    left: 150%;
}   
.larynx .txt h1{
    background-color: white;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    
    border-radius: 15px;
}

p{
    color: #555555 !important;
}



.Trachea{
    position: absolute;
    top: 46%;
    left: 48.5%;
    width: 30px;
    height: 100px;
    border-radius: 50%;
    rotate: -8deg;
}

.Trachea .txt{
    top: 150%;
    position: relative;
    left: -11500%;
    opacity: 0;
    rotate: 8deg;
    width: 340px;
    height: 180px;
    text-align: center;
    background-color: #c4e8f5;
    border-radius: 15px;
}
.Trachea:hover .txt{
    opacity: 1;
    left: 150%;
}   
.Trachea .txt h1{
    background-color: white;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    border-radius: 15px;
}

p{
    color: #555555 !important;
}
#kmg{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}
#info{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 30%;
    height: 90%;
    background-color: #c4e8f5;
    padding: 0;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    display: none;

}
#info h1{
    margin-top: -0.5%;
    background-color: white;
    text-align: center;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}
#info p{
    color: #555555 !important;
    text-align: center;
}